{% extends 'base.html'%}
{% block content %}
<div class="card p-5 ">
    <h5 class="text-center text-danger">"QUOTE"</h5>
    <div class="card-header fs-3">
      ----{{quotes.author}}
    </div>
    <div class="card-body border border-success border border-4 rounded-3">
      <blockquote class="blockquote mb-0">
        <p>{{quotes.quote}}</p>
        <footer class="blockquote-footer">Ready and set <cite title="Source Title">to code</cite></footer>
      </blockquote>
    </div>
  </div>
  {% endblock%}
  