{% extends 'base.html'%}
{% block content %}
<div class="card p-5 ">
    <h5 class="text-center text-primary">Stay Inspired</h5>
    <div class="card-header fs-3">
      ----{{quotes.author}}
    </div>

    <div class="card-body ">
      <blockquote class="blockquote mb-0">
        <p>{{quotes.quote}}</p>
        <footer class="blockquote-footer">the lifestyle guru</footer> 
      </blockquote>
    </div>
  </div>
<h1 class="mt-5 text-center text-danger">BLOGS</h1>
  
 <div class="row row-cols-1 row-cols-md-2 g-4 p-5">
    <div class="col">
<div class="card  border border-primary p-3 text-center" style="width: 35rem ;"> 
  <div class="card-body ">
    <h5 class="card-title justify-content-center">Family</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="https://media.istockphoto.com/photos/african-american-family-having-fun-outdoors-picture-id1317734344?b=1&k=20&m=1317734344&s=170667a&w=0&h=oejfK6LKuQ8bsm8VG0Wwp_hNoZEn-yNad4TDkjbwpI8=" class="card-img-bottom" alt="...">
</div>
</div>

<div class="col">
    <div class="card  border border-primary p-3 text-center" style="width: 35rem ;">
    <div class="card-body ">
      <h5 class="card-title">Education</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGVkdWNhdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-bottom" alt="...">
  </div>
</div>

<div class="col">  
    <div class="card  border border-primary p-3 text-center" style="width: 35rem ;">
    <div class="card-body">
      <h5 class="card-title">Tech</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY2h8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-bottom" alt="...">
  </div>
  </div>

  <div class="col">
    <div class="card  border border-primary p-3 text-center" style="width: 35rem ;">
    <div class="card-body p-3">
      <h5 class="card-title">Sports</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="https://media.istockphoto.com/photos/silhouette-action-sport-picture-id1272269793?b=1&k=20&m=1272269793&s=170667a&w=0&h=xie_NP8GQ6LFpiA0WLqoVUF7y2wyebpCJDQ4wJwPy40=" class="card-img-bottom" alt="...">
  </div>
  </div>
 </div>
  



  {% endblock%}


